@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

:root {
    --c1: #4A4AF7;
    --c2: #3737B9;
    --c3: #0000F7;
    --c4: #0000AA;
    --c5: #000078;
    --f1: 'Open Sans', sans-serif;
    --f2: 'Libre Baskerville', serif;
}

 body {
    margin: 0px;
    font: 1.1em var(--f1);
}

header {
    background-image: linear-gradient(to bottom, var(--c3),var(--c5));
    padding: 80px;
    color: azure;
    font: 1.3em var(--f2);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

header > img {
    display: block;
    margin: auto;
    margin-top: 50px;
}

main {
    background-color: azure;
    padding: 20px;
}

section {
    max-width: 1000px;
    margin: auto;
}

main h2 {
    text-indent: 1em;
    margin: 30px;
}

main ul {
    columns: 2;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    background-color: var(--c5);
    padding: 30px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

main li {
    list-style-type: none;
    margin: 8px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

main a {
    padding: 10px;
    transition-duration: .2s;
}

main a:hover {
    background-color: white;
    color: var(--c5);
    padding: 3px;
    border-radius: 5px;
}

section li a::after {
    content: ' \2198';
}

.externo::after {
    content: ' \2197';
}

main > p {
    background-image: radial-gradient(circle, var(--c1), var(--c2));
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    margin: auto;
    max-width: 1000px;
    color: white;
    font-size: 1.2em;
}

footer {
    background-color: var(--c5);
    padding: 1px;
    color: white;
    text-align: center;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: underline;
    color: var(--c1);
}

footer > p {
    margin: 3px;
}