@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

:root {
    --c1: #3131fc;
    --c2: #2222b9;
    --c3: #0000F7;
    --c4: #0000AA;
    --c5: #000078;
    --f1: 'Open Sans', sans-serif;
    --f2: 'Libre Baskerville', serif;
}

 body {
    margin: 0px;
    font: 1.1em var(--f1);
}

header {
    background: var(--c5) url("images/background3.jpg") no-repeat fixed center top;
    background-size: cover;
    padding: 80px;
    color: azure;
    font: 1.3em var(--f2);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

header > img {
    display: block;
    margin: auto;
    margin-top: 50px;
}

main {
    background-color: rgb(210, 210, 255);
    padding: 20px;
}

section {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 40px;
}

main h2 {
    text-indent: 1em;
    margin: 30px;
}

main ul {
    columns: 2;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    padding: 40px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#backg1 {
    background: var(--c5) url("images/background2.jpg") no-repeat fixed center top;
    background-size: cover;
}

#backg2 {
    background: var(--c5) url("images/background2.jpg") no-repeat fixed center center;
    background-size: cover;
}

section#backg3 {
    background: var(--c5) url("images/background2.jpg") no-repeat fixed center bottom;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    border-radius: 5px;
    margin: auto;
    max-width: 1000px;
    color: white;
    font-size: 1.2em;
}

#backg3 > p {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    max-width: 900px;
    margin: 40px;
}

main li {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 180px;
    margin: auto;
    padding: 5px
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

main a {
    padding: 10px;
    transition-duration: .2s;
}

main a:hover {
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
}

section li a::after {
    content: ' \2198';
}

a[rel="external"]::after {
    content: ' \2197';
}

footer {
    background-color: rgb(20, 20, 20);
    padding: 1px;
    color: white;
    text-align: center;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: underline;
}

footer > p {
    margin: 3px;
}