body {
    background-image: linear-gradient(to top, rgb(180, 180,180), rgb(200, 200, 200));
    background-attachment: fixed;
}

h1, h2 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2rem;
    font-style: italic;
    text-align: justify;
    text-indent: 1.5em;
}