@font-face {
    font-family: 'idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;    
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: azure;
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc8585;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fpadrao: Arial, Verdana, Helvetica, sans-serif;
    --fbebas: 'Bebas Neue', cursive;
    --fidroid: 'idroid', cursive;
}

body {
    margin: 0px;
    font: 1.2em var(--fpadrao);
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: var(--fbebas);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

header > p {
    text-align: center;
}

nav {
    text-align: left;
    padding: 3px;
}

nav > a {
    color: var(--cor1);
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
}

nav > a:hover {
    color: var(--cor6);
    background-color: var(--cor2);
    border-radius: 5px;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

main {
    background-color: var(--cor0);
    min-width: 300px;
    max-width: 820px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    font: 1.7em var(--fidroid);
    color: var(--cor6);
    margin: 10px
}

main h2 {
    font: 1.4em var(--fidroid);
    background-image: linear-gradient(to right, var(--cor2), var(--cor0));
    color: var(--cor5);
    padding-left: 10px;
    border-radius: 3px;
}

p {
    padding: 10px;
    text-align: justify;
}

strong {
    color: var(--cor6);
}

aside {
    text-align: center;
    margin: 10px;
}

.w100 {
    width: 100%;
}

footer {
    background-color: var(--cor6);
    color: white;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer > p {
    margin: 0px;
    padding: 2px;
    text-align: center;
}

iframe {
    min-height: 200px;
    max-height: 420px;
}

#video {
    background-color: var(--cor6);
    padding: 20px;
}

#extra {
    background-color: var(--cor2);
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.externo {
    background-color: var(--cor3);
    padding-left: 5px;
    text-decoration: none;
    color: var(--cor6);
}

.externo::after {
    content: ' 📎';
}